Package: com.noisyflake.moderndock
Name: ModernDock
Depends: mobilesubstrate
Version: 1.0.1
Architecture: iphoneos-arm
Description: Enables the native iPhone X dock on older devices
Depiction: https://apt.noisyflake.com/depictions/index.html?id=com.noisyflake.moderndock
Maintainer: NoisyFlake
Author: NoisyFlake
Section: Tweaks
